{
  "$schema": "http://json.schemastore.org/prettierrc",
  "bracketSpacing": true,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
